/infra/ansible/ansible.cfg

/infra/terraform/terraform.tfstate
/infra/terraform/terraform.tfstate.*
/infra/terraform/.terraform/
/infra/terraform/*.tfvars
/infra/terraform/*.tfvars.json
/infra/terraform/*_override.tf
/infra/terraform/*_override.tf.json
/infra/terraform/override.tf
/infra/terraform/override.tf.json

/infra/terraform/environments/env.tf
/infra/terraform/environments/*.tfvars
/infra/terraform/environments/*.tfvars.json

*.pem
*.key